
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" href="/img/weather.png">
</head>
<body>
  <div class="main-content">
{{>header}}

<h1>{{message}}</h1>



  </div>
{{>footer}}
  
</body>
</html>

