<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
  <div class="main-content">

    {{>header}}
    <p>This site was created by Moustafa Mohamed. It uses data from mapbox.com and data darksky.net!</p>
    <img class="portrait" src="/img/me.png">

  </div>

</body>

{{>footer}}

</html>