<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{>header}}
<br>
<div>{{message}}</div>

  </body>
  <footer>
    {{>footer}}
  </footer>
</html>