<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
  <div class="main-content">
{{>header}}
<p>use this website to get your weather</p>


<form>
  <input placeholder="Location">
  <button place>Search</button>
</form>
  </div>
      
      {{>footer}}
        <script src="/JS/app.js"></script>
</body>

</html>